/* body{
    display: none;
} */

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.nav-item {
    font-size: 30px;
    font-style: oblique;
    margin-left:40px ;
   
}

.navbar-brand {
    padding-left: 30px;
    font-size: 60px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.searchbtn{
   font-size: 40px;
}