/* body{
    display: none;
} */

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{  display: flex;
    justify-content: center;
    align-items: center;
}